<section class="video-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="video-content">
                    <span class="sub-title">Local Quizine</span>
                    <h2>Best ever Thai street food!</h2>
                    <p>My recent journey to Rod Fai Night Market featuring Leng - Mark</p>

                    <a href="https://www.youtube.com/watch?v=rtarxm5EJRk" class="popup-youtube video-btn"><i class="flaticon-play"></i> Watch Video</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="video-image">
                    <img src="assets/img/leng.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>